body {
    background-color: black;
    text-align: center;
}

.header--main {
    font-family: Verdana;
    font-weight: normal;
    font-size: 50px;
    color: white;
    text-align: center;
}

p {
    text-align: center;
    color: aquamarine;
    font-size: 16px;
}

.middle--main {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 300;
    font-size: 42px;
    color: white;
}